

//Colors 
$primary-color: #009973 ;
$secondary-color: white;
$text-color-light: #BBECD7;


//Mixins

@mixin primary-button {
    border: none;
    border-radius: 6px ;
    width: 180px;
    height: 35px;
    background-color: $primary-color;
    font-weight: 600;
    font-size: 17px;
    color: $secondary-color

   


    

}