.mainBody {
    width: 100vw;
    height: 100vh;
    &--chat{
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
        &__list{
            overflow: scroll;
            height: 7%;
            display: flex;
            align-items: center;
            width: 100%;
            color:white;
            font-family:"Inter Tight", sans-serif;
            // font-size: 15px;
            letter-spacing: 2px;
            &__active{

            }
        }
        &__section{
            // height: 80%;
            width: 100%;
            // min-width: 600px;
            border-radius: 10px;
        }
    }
}