@import '../../../../variables.scss';
.signUpModal{
    background-color: $primary-color;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    bottom: 0;
    left: 0;
    border-radius: 36px 36px 0 0 ;
    &--container{
        &__header{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 60px;
          gap: 60px;
          color: $secondary-color;
          &__button{
            width: 30px;
            height: 30px;
          }
          
        }
        &__form{
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;

            &__nameLabel{
                color: $secondary-color;
                font-size: 20px;
            }
            &__passwordLabel{
                color: $secondary-color;
                font-size: 20px;
            }
            
            &__inputUsername{
                border: none;
                border-bottom: 4px solid $secondary-color;
                height: 25px;
                border-radius: 5px;
            }
            &__inputPassword{
                border: none;
                height: 25px;
                border-bottom: 4px solid $secondary-color;
                border-radius: 5px;
                
            }
            &__buttonSignUp{
                border: none;
                border-radius: 5px ;
                width: 250px;
                height: 35px;
                background-color: $secondary-color;
                font-weight: 600;
                font-size: 15px;
                color: $primary-color;
            }
        }

    }
   
    

}